{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Magic number</h1>
    <p class="p1">Welcome</p>
    <p class="crazy">This is the current magic number: {{ number }}</p>
    <a><img src="{{ asset('img/a3.jpg') }}" alt="" width="250"></a>
{% endblock %}