{% extends "base.html.twig" %}

{% block title %}raport{% endblock %}

{% block body %}
    <h1 id="kmom01">kmom01</h1>
    <p>
        jag har inte jätte stor kunskap om hur man använder objektorientering.
        och minna tidigare erfarenheter är ganska svaga för jag inte klart
        tidigare kurs med objektorientering.
        En klass används för att skapa objekt med properties och metoder.
        Objekt är instanser av klasser. De representerar specifika
        enheter med sina egna egenskaper och beteenden.
        properties är variabler som håller data i klasser eller objekt.
        Dem definierar vad som är i klassen eller objektet.
        Jag uppfattar koden i me/report att vara lite komplicerande när man
        kan gå mellan så många olika filer.
        Jag tycker att namespacing är intressant, att man kan använda samma
        namn till olika grejor. Så att om man ger över kod till andra och koden
        fungerar även om man skulle haft samma namn på olika klasser. 
        Jag tycker också det är intressant med att man har en built-in web server
        med php.
        Mitt TIL för detta kmom är en liten förståelse hur man använder Symfony.
    </p>

{% endblock %}